html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}  
h1{
    margin: unset;
}
h2{
    font-size: 80px;
    font-weight: normal;
    margin: unset;
}
.navbar {
    display: flex;
    background-color: #333;
    padding: 10px 0;
   
}
.navbar a {
    text-decoration: none;
    color: white;
    padding: 10px 50px; 
}
.navbar a:hover {
    background-color: #555;
}
#hero-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #2B3260;
    height: 100vh;
    width: 100%;
    
}

#hero-section h1{
    color: white;
    font-size: 80px;
    font-weight: normal;
}
#hero-section h2{
    color: white;
    font-size: 30px;
    margin-top: 15px;
    font-weight: normal;
}
#hero-section img{
    
    width: 770px;
    height: 780px;
}
#about-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 350px;
    text-align: center;
}
#about-section div{
    width: 550px;
}
#projects-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
    text-align: center;
    margin-top: 45px;
  
}
.button{
    display: inline-flex;
    width: 90px;
    height: 40px !important;
    background-color: #0275d8;
    text-decoration: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: white;
}
.project .button:hover{
    background-color: rgb(189, 104, 1);
}
.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-top: 60px;
}
.project{
    width: 550px;
    height: 400px;
   
    margin: 20px 20px;
}
.project-img-jolix{
    width: 550px;
    height: 300px;
    background-image: url(assets/jolix.png);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
.project-img-car{
    width: 550px;
    height: 300px;
    background-image: url(assets/car-pic.png);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
.project-img-blissy{
    width: 550px;
    height: 300px;
    background-image: url(assets/blissy.png);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.btm-margin-proj{
    margin-top: 70px;
}
#skills-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    text-align: center;
    margin-top: -40px;
}
.skills-container{
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 350px;
    background-color: #D5D5D8;
    border-radius: 10px;
}
.skills-container div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 25px;
    padding-left: 15px;

}
#contact-section{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    height: 700px;
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
   
  
}
.contact-form{
    display: flex;
    flex-direction: column;
    background-color: #2B3260 ;
    height: 360px;
    width: 400px;
    padding: 40px;
    color: white;
    border-radius: 10px;
    justify-content: flex-start;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-top: 20px;
    
}
.contact-form input{
    height: 35px;
    border: none;
    border-radius: 4px;
}
.contact-form textarea{
    border-radius: 4px;
    border: none;
    height: 150px;
    
}
.blog{
    margin-right: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.row img{
    width: 250px;
    height: 200px;
}

@media only screen and (max-width: 1170px){
    .row {
        flex-direction: column;
    }
    #projects-section {
        height: 1200px;
    }
    .project2{
        margin-top: 80px;
    }
    #hero-section img{
    
        width: 470px;
        height: 580px;
    }
    #hero-section h1{
        color: white;
        font-size: 70px;
        font-weight: normal;
        
    }
    #hero-section h2{
        color: white;
        font-size: 23px;
        margin-top: 15px;
        font-weight: normal;
        
    }
}



@media only screen and (max-width: 950px){
    #hero-section img{
        display: none;
    }
    #hero-section h1{
        color: white;
        font-size: 70px;
        font-weight: normal;
        text-align: center;
    }
    #hero-section h2{
        color: white;
        font-size: 23px;
        margin-top: 15px;
        font-weight: normal;
        text-align: center;
    }
}
@media only screen and (max-width: 700px){
    p {
        font-size: 15px;
    }
    #about-section div{
       width: auto;
    }
    .row {
        width: 100%;
       
    }
    .project {
        width: 90%;
        height: 400px;
        margin: 20px 20px;
    }
    .project-img-jolix {
        width: auto;
    }
    .project-img-blissy {
        width: auto;
    }
    .project2{
        margin-top: 120px;
    }
    .skills-container {
        width: 80%;
    }
    .contact-form {
        width: 90%;
    }
}